## ignore everything
*
## but this (remember to !bang the files to whitelist it)
!*git*
!.bashrc
!.zshrc
## modular conf files
!.exports
!.aliases
!.functions
## bin folder
!bin/*
## or add new files with 'git add -f <file-path>'


